* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
}


header,
header div,
header nav,
header figure,
header p,
#intro,
#products section,
#why,
#why > div,
.adventages,
.adventages div,
#buy,
#buy form,
footer {
  display: flex;
  align-items: center;
}

header,
header nav {
  flex-direction: row;
}

header {
  justify-content: space-around;
  background: #FFF;
  border-bottom: 1px solid #8C2929;
  height: 100px;
  font-weight: bold;
  line-height: 1.5;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header div,
header figure,
header nav {
  justify-content: center;
}

header p,
#header-img,
#intro {
  justify-content: center;
}

#header-img {
  height: 90px;
  width: 90px;
}

header a {
  color: #DC4A38;
  font-size: 1.25em;
  margin: 10px;
  text-decoration-color: #DC4A38;
}

header a:hover {
  color: #ED5B49;
}

.proper-link {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

#intro {
  background: url(../img/style-background.jpg) center #FAF7FE;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  height: 600px;
  flex-direction: column;
}

#intro div {
  background: rgba(0, 0, 0, 0.5);
  font-family: Lato, sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
}

#products section {
  flex-direction: column;
}

#products section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#products section {
  background-size: cover;
  background-repeat: no-repeat;
}

#products section:nth-child(odd),
#buy {
  background: url(../img/red-snowflakes-background.jpg) center #8C2929;
}

#products section:nth-child(even),
#why {
  background: url(../img/gray-snowflakes-background.jpg) center #D2D2D2;
}

#products h3,
#why h3,
#buy label {
  font-size: 1.75em;
  margin: 40px 0 0;
}

#products h4 {
  font-size: 1.25em;
}

#products section:nth-child(odd) h3,
#products section:nth-child(odd) h4 {
  color: #FFF;
}

#products section:nth-child(even) h3,
#products section:nth-child(even) h4,
.spec {
  color: #232323;
}

.spec p:first-child {
  font-weight: bold;
}

.price {
  font-size: 1.75em;
  font-weight: bold;
  color: #DC4A38;
}

.price span {
  color: #232323;
  font-size: 0.75em;
  text-decoration: line-through;
}

#products figure {
  margin: 0;
  width: 40%;
  z-index: 1;
}

#products .spec {
  background: #FFF;
  margin-left: -40px;
  padding: 20px 20px 20px 60px;
  width: 40%;
}

#products img {
  height: auto;
  width: 100%;
}

#why,
#why > div {
  flex-direction: column;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#why iframe {
    padding: 30px;
}

.adventages {
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.adventages > div {
  width: 40%;
}

.adventages div div {
  flex-direction: column;
  align-items: flex-start;
}

.adventages img {
  margin: 20px;
}

.property {
  font-weight: bold;
  margin-bottom: 0px;
}

#buy {
  justify-content: space-around;
  color: #FFF;
  padding: 30px;
}

#buy section {
  text-align: center;
  font-size: 1.5em;
  margin: 20px;
}

#buy form {
  background: #FFF;
  border-radius: 4px;
  flex-direction: column;
  padding: 20px 40px;
}

#buy label {
  color: #232323;
  font-size: 1em;
}

#buy input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#buy .button {
  background-color: #DC4A38;
  border: 2px solid #DC4A38;
  border-radius: 8px;
  color: #FFF;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100%;
}

#buy .button:hover {
  background-color: #FFF;
  color: #DC4A38;
}

footer {
  background: #222;
  color: #FFF;
  justify-content: space-around;
}

footer div {
  padding: 20px;
}

footer a {
  color: #FF8383;
  text-decoration-color: #FF375A;
}

@media screen and (max-width: 725px){
  header {
    font-size: 0.75em;
  }

  #header-img {
    height: 75px;
    width: 75px;
  }

  #products section > div {
    flex-direction: column;
  }

  #products figure {
    width: 80%;
  }

  #products .spec {
    margin-top: -5px;
    margin-left: 0;
    padding: 20px;
    width: 80%;
  }

  .adventages > div {
    width: 80%;
  }

  #buy {
    flex-direction: column;
  }
}

@media screen and (max-width: 590px){
  header {
    font-size: 0.65em;
  }

  #header-img {
    height: 30px;
    width: 30px;
  }

  #intro {
    font-size: 0.75em;
  }
}
